<div class="box">
    <div class="columns">
        <div class="column">
            <div>
                <p class="heading">Id</p>
                <p class="">{{id}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading">Created Date</p>
                <p class="">{{date}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading">Assigned To</p>
                
                <p class="">{{assignedTo}}</p>
                

            </div>
        </div>

    </div>

    <div class="columns">
        <div class="column">
            <div>
                <p class="heading">Category</p>
                <p class="">{{category}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading">Status</p>
                <p class="">{{status}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading">Severity</p>
                
                    <p class="">{{severity}}</p>
            

            </div>
        </div>

    </div>

    <div class="columns">
        <div class="column">
            <div>
                <p class="heading">Vendor</p>
                <p class="">{{vendor}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading">Provider</p>
                <p class="">{{provider}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading">Sub-Provider</p>
                
                    <p class="">{{subprovider}}</p>
                

            </div>
        </div>

    </div>

</div>

    

    




