<div class="box">
    <div class="columns">
        <div class="column">
            <div>
                <p class="heading"><strong>Id</strong></p>
                <p class="">{{id}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading"><strong>Created Date</strong></p>
                <p class="">{{date}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading"><strong>Assigned To</strong></p>
                
                <p class="">{{assignedTo}}</p>
                

            </div>
        </div>

    </div>

    <div class="columns">
        <div class="column">
            <div>
                <p class="heading"><strong>Category</strong></p>
                <p class="">{{category}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading"><strong>Status</strong></p>
                <p class="">{{status}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading"><strong>Severity</strong></p>
                
                    <p class="">{{severity}}</p>
            

            </div>
        </div>

    </div>

    <div class="columns">
        <div class="column">
            <div>
                <p class="heading"><strong>Vendor</strong></p>
                <p class="">{{vendor}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading"><strong>Provider</strong></p>
                <p class="">{{provider}}</p>
            </div>
        </div>
        <div class="column">
            <div>
                <p class="heading"><strong>Sub-Provider</strong></p>
                
                    <p class="">{{subprovider}}</p>
                

            </div>
        </div>

    </div>

</div>

    

    




